<div class="widget" data-type="checklist">
	<h3 data-title>{{ title }}</h3>
	<ul>
		{{#items}}
			<li data-item>
				<p>&check;</p>
				<p data-heading>{{ heading }}</p>
				<p data-description>{{ description }}</p>
			</li>
		{{/items}}
	</ul>
</div>