<div class="widget" data-type="faqs">
	<h3 data-title>{{ title }}</h3>
	<ul>
		{{#faqs}}
			<li data-faq>
				<p data-question>{{ question }}</p>
				<p data-answer>{{ answer }}</p>
			</li>
		{{/faqs}}
	</ul>
</div>