<div class="widget" data-type="testimonials">
	<h3 data-title>{{ title }}</h3>
	<ul>
		{{#testimonials}}
			<li data-testimonial>
				<p data-content>{{ content }}</p>
				<p data-byline>{{ byline }}</p>
			</li>
		{{/testimonials}}
	</ul>
</div>