.toplevel_page_wpmarketing * { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wpmarketing .main_wrapper {
	margin-top: 10px;
}

.wpmarketing h2 {
	display: inline-block;
}

.wpmarketing_desc {
	color: #777;
	display: inline-block;
}

.wpmarketing .cta {
	float: right;
}

.wpmarketing .cta .button {
	margin-top: -6px;
	margin-left: 20px;
}

.app_icon {
	float: left;
	width: 23.5%;
	margin: 0 2% 2% 0;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
	padding: 15px;
	border: 1px solid transparent;
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3);
	background-image: url(../imgs/shadow.png);
	background-position: bottom;
	background-repeat: repeat-x;
	position: relative;
}

.app_icon:nth-child(4n+3) {
	margin-right: 0;
}

.app_icon:nth-child(4n+4) {
	margin-left: 2%;
	margin-right: 0;
}

.app_icon:nth-child(4n+1) {
	clear: both;
}

.app_icon h3 {
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	font-size: 16px;
	text-align: right;
	font-weight: bold;
	padding-top: 60px;
	margin: 0;
}

.app_icon p {
	color: #fff;
	color: rgba(255, 255, 255, 0.7);
	text-align: right;
	margin: 6px 0 0 0;
	font-size: 11px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.app_icon .coming_soon {
	display: none;
}

.app_icon.is_coming_soon {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
	cursor: default;
}

.app_icon.is_coming_soon .coming_soon {
	display: block;
	position: absolute;
	top: 15px;
	left: 15px;
}

.app {
	display: none;
}

.app[data-app="sway_page"] .loading {
	display: none;
	padding: 120px;
	text-align: center;
}

.app[data-app="sway_page"].loading .loading {
	display: block;
}

.app[data-app="sway_page"].loading .right_of_topbar, .app[data-app="sway_page"].not_found .right_of_topbar {
	display: none;
}

.app[data-app="sway_page"].loading .not_loading, .app[data-app="sway_page"].not_found .not_loading {
	display: none;
}

.app[data-app="sway_page"] .not_loading {
	display: block;
}

.app[data-app="sway_page"].not_found .not_found {
	display: block;
}

.app[data-app="sway_page"] .not_found {
	display: none;
}

.app[data-app="sway_page"] .editor {
	margin: 0;
	padding: 10px;
}

.app[data-app="activate"] {
	display: block;
}

.app[data-app="activate"] .header {
	background: #0E8FAA;
}

.app .header {
	border: 1px solid transparent;
	border-radius: 10px 10px 0 0;
	padding: 20px;
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3);
	background-image: url(../imgs/shadow.png);
	background-position: bottom;
	background-repeat: repeat-x;
}

.app .header h3 {
	text-align: right;
	font-size: 36px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	margin: 25px 0 15px 0;
}

.app .content {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-radius: 0 0 10px 10px;
	background: #fff;
	min-height: 400px;
	padding: 20px;
}

.app .content.no_padding {
	padding: 0px;
}

.app .content .narrow_content {
	max-width: 500px;
	margin: 0 auto;
}

.app .content [data-app-list] {
	list-style: disc;
	margin: 0 0 0 25px;
}

.app .content [data-app-list] .description {
	color: #999;
}

.button.orange, .button.orange:hover {
	background: #ffb459;
	background: -moz-linear-gradient(top,  #ffb459 0%, #fb9d23 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb459), color-stop(100%,#fb9d23));
	background: -webkit-linear-gradient(top,  #ffb459 0%,#fb9d23 100%);
	background: -o-linear-gradient(top,  #ffb459 0%,#fb9d23 100%);
	background: -ms-linear-gradient(top,  #ffb459 0%,#fb9d23 100%);
	background: linear-gradient(to bottom,  #ffb459 0%,#fb9d23 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb459', endColorstr='#fb9d23',GradientType=0 );
	border-color: #E18C1E;
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3);
	text-shadow: 1px 1px 2px #E18C1E;
}

.button.green, .button.green:hover, .convert_alert_status.on, .convert_alert_status.on:hover {
	background: #6acc6d;
	background: -moz-linear-gradient(top,  #6acc6d 0%, #62bc68 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6acc6d), color-stop(100%,#62bc68));
	background: -webkit-linear-gradient(top,  #6acc6d 0%,#62bc68 100%);
	background: -o-linear-gradient(top,  #6acc6d 0%,#62bc68 100%);
	background: -ms-linear-gradient(top,  #6acc6d 0%,#62bc68 100%);
	background: linear-gradient(to bottom,  #6acc6d 0%,#62bc68 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6acc6d', endColorstr='#62bc68',GradientType=0 );
	border-color: #2E9033;
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3);
	text-shadow: 1px 1px 2px #2E9033;
}

.button.red, .button.red:hover, .convert_alert_status.off, .convert_alert_status.off:hover {
	background: #d32a2a;
	background: -moz-linear-gradient(top,  #d32a2a 1%, #a52121 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d32a2a), color-stop(100%,#a52121));
	background: -webkit-linear-gradient(top,  #d32a2a 1%,#a52121 100%);
	background: -o-linear-gradient(top,  #d32a2a 1%,#a52121 100%);
	background: -ms-linear-gradient(top,  #d32a2a 1%,#a52121 100%);
	background: linear-gradient(to bottom,  #d32a2a 1%,#a52121 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d32a2a', endColorstr='#a52121',GradientType=0 );
	border-color: #871A1A;
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3);
	text-shadow: 1px 1px 2px #871A1A;
}

.button_wrapper {
	text-align: center;
	margin: 40px 0; 
}

.pricing_table {
	text-align: center;
	background: #f3f3f3 !important;
}

.pricing_table th {
	font-weight: bold;
	font-size: 26px;
	text-align: center;
}

.pricing_table tr td:first-child, .pricing_table tr th:first-child {
	border-right: 1px solid #ddd;
}

.pricing_table tr td:last-child, .pricing_table tr th:last-child {
	border-left: 1px solid #ddd;
}

.wpmarketing_highlight {
	background: #FFF155;
	padding: 3px 8px;
}

.wpmarketing .faq .question {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: -10px;
}

.wpmarketing .blue_form {
	background: #D5F5FF;
	padding: 20px;
	border-radius: 7px;
	border: 1px solid #BAD7DF;
	margin-bottom: 30px;
	margin-top: 10px;
}

.wpmarketing .blue_form p:first-child {
	margin-top: 0;
}

.wpmarketing .blue_form p:last-child {
	margin-bottom: 0;
}

.wpmarketing .unlock_code_form input[name="unlock_code"] {
	width: 19em;
	max-width: 100%;
}

.wpmarketing .unlock_code_form .loading, .wpmarketing .unlock_code_form .success {
	text-align: center;
	display: none;
}

.wpmarketing .unlock_code_form .loading {
	padding: 30px;
}

.field {
	margin: 10px 0;
}

.wpmarketing .activation_form label {
	width: 8em;
	text-align: right;
	margin-right: 10px;
	display: inline-block;
}

.wpmarketing_error {
	background: #F4D6C6;
	border-radius: 4px;
	border: 1px solid #B5847A;
	padding: 10px;
	color: #9F3331;
	margin-bottom: 30px;
}

.wpmarketing_warning {
	background: #F4EABF;
	border-radius: 4px;
	border: 1px solid #B9B48A;
	padding: 10px;
	color: #6D6A4D;
	margin-bottom: 30px;
}

.wpmarketing .topbar {
	background: #eee;
	padding: 13px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

.wpmarketing .topbar .topbar_nav {
	margin: -13px;
}

.wpmarketing .topbar .topbar_nav li {
	float: left;
	margin-bottom: -13px;
}

.wpmarketing .topbar .topbar_nav li a {
	color: #444;
	display: inline-block;
	text-decoration: none;
	font-size: 15px;
	padding: 19px 20px;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
}

.wpmarketing .topbar .left_of_topbar .topbar_nav li:first-child a {
	border-left: 0;
}

.wpmarketing .topbar .right_of_topbar .topbar_nav li:last-child a {
	border-right: 0;
}

.wpmarketing .topbar .topbar_nav li a.selected {
	font-weight: bold;
	background: #fff;
	border-color: #ddd;
}

.wpmarketing .topbar .left_of_topbar {
	float: left;
}

.wpmarketing .topbar .right_of_topbar {
	float: right;
}

.wpmarketing_clear {
	clear: both;
}

.wpmarketing .content .app_panes .pane {
	min-height: 500px;
	border-radius: 0 0 10px 0;
}

.wpmarketing .content .app_panes.with_sidebar .pane {
	border-left: 1px solid #ddd;	
	margin-left: 170px;
	min-height: 500px;
}

.wpmarketing .content .app_panes.with_sidebar .sidebar {
	width: 170px;
	position: absolute;
	background: #fff;
}

.wpmarketing .content .app_panes.with_sidebar.with_wide_sidebar .pane {
	margin-left: 230px;
}

.wpmarketing .content .app_panes.with_sidebar.with_wide_sidebar .sidebar {
	width: 230px;
}

.wpmarketing .content .app_panes.with_sidebar .sidebar .widgets {
	margin: 0;
}

.wpmarketing .content .app_panes.with_sidebar .sidebar .widgets .separator {
	padding: 3px 10px;
	font-weight: bold;
	font-size: 11px;
	color: #444;
	text-transform: uppercase;
	border-bottom: 1px solid #ddd;
}

.wpmarketing .content .app_panes.with_sidebar .sidebar .widgets a {
	padding: 3px 10px;
	display: block;
}

.wpmarketing .end_marketingfocus {
	display: none;
}

#convert_alert_map {
	width: 100%;
	height: 500px;
	border-radius: 0 0 10px 0;
}

.wpmarketing .content .app_panes.with_sidebar .sidebar .newsfeed {
	height: 500px;
	overflow-y: auto;
	margin: 0;
}

.wpmarketing .content .app_panes.with_sidebar .sidebar .newsfeed li {
	border-bottom: 1px solid #ddd;
	padding: 8px;
	margin: 0;
}

.wpmarketing .content .app_panes.with_sidebar .sidebar .newsfeed li.loading {
	text-align: center;
	padding: 30px;
}

.wpmarketing .content .app_panes.with_sidebar .sidebar .newsfeed li.loading img {
	margin-bottom: 20px;
}

.wpmarketing .content .app_panes.with_sidebar .sidebar .newsfeed .avatar {
	float: left;
	display: block;
	width: 26%;
}

.wpmarketing .content .app_panes.with_sidebar .sidebar .newsfeed .profile_imgs {
	float: right;
	margin-top: 5px;
}

.wpmarketing .content .app_panes.with_sidebar .sidebar .newsfeed .profile_imgs img {
	width: 12px;
	margin-left: 5px;
}

.wpmarketing .content .app_panes.with_sidebar .sidebar .newsfeed .description {
	width: 74%;
	float: right;
	padding-left: 10px;
}

.wpmarketing .content .app_panes.with_sidebar .sidebar .newsfeed .description {
	margin: 0;
	font-size: 11px;
}

.wpmarketing .convert_alert_status.on .off_text, .wpmarketing .convert_alert_status.off .on_text {
	display: none;
}

.wpmarketing .logo {
	width: 200px;
}

.wpmarketing .tab {
	display: none;
}

.wpmarketing .settings {
	display: none;
	text-align: left;
}

.wpmarketing .field .unaction {
	color: #777;
	font-size: 12px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 3px;
	margin-left: 10px;
}

.wpmarketing .widget_meta {
	position: absolute;
	background: #fff;
	padding: 10px;
	border: 1px solid #ddd;
}

[data-content]:hover, [data-byline]:hover, [data-question]:hover, [data-answer]:hover, [data-title]:hover {
	background: #CAF0FF;
}

#sway_page_content_form textarea {
	width: 100%;
	height: 300px;
}

/*
	Castle Theme
*/

.wpmarketing_theme[data-theme="castle"] h1 {
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
}

.wpmarketing_theme[data-theme="castle"] h2 {
	font-size: 26px;
	line-height: 34px;
	color: #777;
}

/*
	RESET
*/

.wpmarketing_reset div, .wpmarketing_reset span, .wpmarketing_reset applet, .wpmarketing_reset object, .wpmarketing_reset iframe,
.wpmarketing_reset h1, .wpmarketing_reset h2, .wpmarketing_reset h3, .wpmarketing_reset h4, .wpmarketing_reset h5, .wpmarketing_reset h6, .wpmarketing_reset p, .wpmarketing_reset blockquote, .wpmarketing_reset pre,
.wpmarketing_reset a, .wpmarketing_reset abbr, .wpmarketing_reset acronym, .wpmarketing_reset address, .wpmarketing_reset big, .wpmarketing_reset cite, .wpmarketing_reset code,
.wpmarketing_reset del, .wpmarketing_reset dfn, .wpmarketing_reset em, .wpmarketing_reset img, .wpmarketing_reset ins, .wpmarketing_reset kbd, .wpmarketing_reset q, .wpmarketing_reset s, .wpmarketing_reset samp,
.wpmarketing_reset small, .wpmarketing_reset strike, .wpmarketing_reset strong, .wpmarketing_reset sub, .wpmarketing_reset sup, .wpmarketing_reset tt, .wpmarketing_reset var,
.wpmarketing_reset b, .wpmarketing_reset u, .wpmarketing_reset i, .wpmarketing_reset center,
.wpmarketing_reset dl, .wpmarketing_reset dt, .wpmarketing_reset dd, .wpmarketing_reset ol, .wpmarketing_reset ul, .wpmarketing_reset li,
.wpmarketing_reset fieldset, .wpmarketing_reset form, .wpmarketing_reset label, .wpmarketing_reset legend,
.wpmarketing_reset table, .wpmarketing_reset caption, .wpmarketing_reset tbody, .wpmarketing_reset tfoot, .wpmarketing_reset thead, .wpmarketing_reset tr, .wpmarketing_reset th, .wpmarketing_reset td,
.wpmarketing_reset article, .wpmarketing_reset aside, .wpmarketing_reset canvas, .wpmarketing_reset details, .wpmarketing_reset embed, .wpmarketing_reset 
.wpmarketing_reset figure, .wpmarketing_reset figcaption, .wpmarketing_reset footer, .wpmarketing_reset header, .wpmarketing_reset hgroup, .wpmarketing_reset 
.wpmarketing_reset menu, .wpmarketing_reset nav, .wpmarketing_reset output, .wpmarketing_reset ruby, .wpmarketing_reset section, .wpmarketing_reset summary,
.wpmarketing_reset time, .wpmarketing_reset mark, .wpmarketing_reset audio, .wpmarketing_reset video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: inherit;
}

.wpmarketing_reset article, .wpmarketing_reset aside, .wpmarketing_reset details, .wpmarketing_reset figcaption, .wpmarketing_reset figure, .wpmarketing_reset 
footer, .wpmarketing_reset header, .wpmarketing_reset hgroup, .wpmarketing_reset menu, .wpmarketing_reset nav, .wpmarketing_reset section {
	display: block;
}
.wpmarketing_reset {
	line-height: 1;
	font-family: Helvetica Neue, Helvetica, Arial, Sans Serif;
	color: #000;
}
.wpmarketing_reset ol, .wpmarketing_reset ul {
	list-style: none;
}
.wpmarketing_reset blockquote, .wpmarketing_reset q {
	quotes: none;
}
.wpmarketing_reset blockquote:before, .wpmarketing_reset blockquote:after,
.wpmarketing_reset q:before, .wpmarketing_reset q:after {
	content: '';
	content: none;
}
.wpmarketing_reset table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	LOCKED STATES
*/

.wpmarketing.unlocked .unlock_code_form {
	display: block;
}

.wpmarketing.unlocked .unlock_code_form {
	display: none;
}

.wpmarketing.unlocked .wpmarketing_status_warning {
	display: none;
}

.wpmarketing.unlocked [data-show="upgrade"] {
	display: none;
}

.wpmarketing.trialing .wpmarketing_status_warning .is_locked {
	display: none;
}

.wpmarketing.trial_complete .wpmarketing_status_warning .is_locked {
	display: none;
}

.wpmarketing.locked .wpmarketing_status_warning .is_trialing {
	display: none;
}

.wpmarketing.locked .change_unlock_code_form, .wpmarketing.trialing .change_unlock_code_form {
	display: none;
}

.wpmarketing.locked .start_marketingfocus {
	display: none;
}